<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest package="com.arconsis.android.datarobot.performance"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:droitateddb="http://droitateddb.org"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name=".NotesApplication"
		android:allowBackup="true"
		android:icon="@drawable/datarobot"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

		<activity
			android:name=".ui.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<provider
			android:name="com.arconsis.android.datarobot.performance.generated.NoteContentProvider"
			android:authorities="com.arconsis.android.datarobot.performance.generated.provider.note"
			android:exported="false"
			droitateddb:generated="true"/>
		<provider
			android:name="com.arconsis.android.datarobot.performance.generated.OperationContentProvider"
			android:authorities="com.arconsis.android.datarobot.performance.generated.provider.operation"
			android:exported="false"
			droitateddb:generated="true"/>
		<provider
			android:name="com.arconsis.android.datarobot.performance.generated.SimpleContentProvider"
			android:authorities="com.arconsis.android.datarobot.performance.generated.provider.simple"
			android:exported="false"
			droitateddb:generated="true"/>
		<provider
			android:name="com.arconsis.android.datarobot.performance.generated.UserContentProvider"
			android:authorities="com.arconsis.android.datarobot.performance.generated.provider.user"
			android:exported="false"
			droitateddb:generated="true"/>
	</application>

</manifest>