<?xml version="1.0" encoding="UTF-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:arconsis="http://arconsis.com" android:versionCode="1" android:versionName="1.0" package="com.arconsis.android.datrobot.test.data">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".TestApplication" android:theme="@style/AppTheme">
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.stagetwo" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.StageTwoContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.withassociation" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.WithAssociationContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.simple" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.SimpleContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.comment" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.CommentContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.text" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.TextContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.stageone" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.StageOneContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.bidirectionalone" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.BidirectionalOneContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.bidirectionaltwo" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.BidirectionalTwoContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.author" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.AuthorContentProvider" arconsis:generated="true"/>
        <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.single" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.SingleContentProvider" arconsis:generated="true"/>
    <provider android:authorities="com.arconsis.android.datrobot.test.data.generated.provider.simplewithoutautoincrement" android:exported="false" android:name="com.arconsis.android.datrobot.test.data.generated.SimpleWithoutAutoIncrementContentProvider" arconsis:generated="true"/></application>

</manifest>